<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access for enhanced functionality.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access for voice input.</string>
	<key>NSScreenCaptureDescription</key>
	<string>This app needs screen capture access to take screenshots of windows for the listening feature.</string>
</dict>
</plist>
