@import "tailwindcss";

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
.drag {
    -webkit-app-region: drag;
}
.no-drag {
    -webkit-app-region: no-drag;
}

/* Prevent scrollbars inside small Tauri tool windows */
html, body {
    font-family: "Inter", sans-serif;
    overflow: hidden !important;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: "Instrument Serif", serif;
}

@media (prefers-color-scheme: dark) {
}
