@import "tailwindcss";

@font-face {
    font-family: "Instrument Sans";
    src: url("./assets/fonts/instrument-sans.ttf") format("truetype");

}
@font-face {
    font-family: "Instrument Sans";
    src: url("./assets/fonts/instrument-sans-italic.ttf") format("truetype");
    font-style: italic;

}


@font-face {
    font-family: "Instrument Serif";
    src: url("./assets/fonts/instrument-serif.ttf") format("truetype");

}

@font-face {
    font-family: "Instrument Serif";
    src: url("./assets/fonts/instrument-serif-italic.ttf") format("truetype");
    font-style: italic;

}
#root{
    height: 100%;
    
}

@theme{
    --font-instrument-serif: "Instrument Serif", serif;
    --font-instrument-sans: "Instrument Sans", Inter, Arial, sans-serif;
}

:root {
    font-family: "Instrument Sans",Inter, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
.drag {
    -webkit-app-region: drag;
}
.no-drag {
    -webkit-app-region: no-drag;
}

/* Prevent scrollbars inside small Tauri tool windows */
html, body {
    overflow: hidden !important;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: "Instrument Serif", serif;
}

@media (prefers-color-scheme: dark) {
}
